@use "../../_scss" as *;

.info {
  color: var(--color-3);
  font-size: 1.125rem;
  padding: 2rem 1rem;
  @include screen-min-480 {
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  }
  @include screen-min-768 {
    font-size: 1.625rem;
    padding: 9rem 3rem 2rem 3rem;
    max-width: 35rem;
  }
  @include screen-min-1024 {
    font-size: 1.875rem;
    padding: 12rem 4rem 2rem 3rem;
    max-width: 68rem;
    height: 100%;
  }

  & p {
    margin-bottom: 1rem;
  }
}
