@use "../../_scss" as *;

@mixin _general {
  & {
    height: 2.125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-4);
  }
  @include screen-min-480 {
    height: 2.5rem;
  }
}

@mixin _general_small {
  & {
    height: 1.75rem;
  }
  @include screen-min-320 {
    height: 2.125rem;
  }
  @include screen-min-480 {
    height: 2.5rem;
  }
}

@mixin _button {
  & {
    font-size: 1.875rem;
    font-weight: 800;
    outline: none;
    padding-bottom: 0.125rem;
    cursor: pointer;
    width: 2.125rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    font-family: var(--font-quicksand);
    border: 1px solid var(--color-1);
    background: var(--color-1);
  }
  @include screen-min-480 {
    font-size: 2.25rem;
    width: 2.5rem;
    padding-bottom: 0.25rem;
  }

  &:hover,
  &:focus {
    background: transparent;
    & span {
      transform: translateX(2rem);
    }
  }

  &:focus {
    outline: 2px solid var(--color-4);
  }
}

@mixin _button_small {
  & {
    font-size: 1.5rem;
    width: 1.75rem;
  }
  @include screen-min-320 {
    font-size: 1.875rem;
    width: 2.125rem;
  }
  @include screen-min-480 {
    font-size: 2.25rem;
    width: 2.5rem;
  }
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 7.5rem;
  @include screen-min-480 {
    width: 9rem;
  }

  &__increase {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    @include _general;
    @include _button;
  }

  &__decrease {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    @include _general;
    @include _button;
  }

  &__count {
    flex: 1;
    border-top: 1px solid var(--color-1);
    border-bottom: 1px solid var(--color-1);
    @include _general;
  }

  &__value {
    font-size: 1.25rem;
    @include screen-min-480 {
      font-size: 1.5rem;
    }
  }
}

.counter_small {
  width: 5.5rem;
  @include screen-min-320 {
    width: 7.5rem;
  }
  @include screen-min-480 {
    width: 9rem;
  }

  & button {
    @include _general_small;
    @include _button_small;
  }

  & div {
    @include _general_small;
  }

  & p {
    font-size: 1rem;
    @include screen-min-320 {
      font-size: 1.25rem;
    }
    @include screen-min-480 {
      font-size: 1.5rem;
    }
  }
}
